article.tweet {
    padding: 20px;
    display: flex;
}

div.tweet-content h3 {
    font-size: 2vh;
    font-weight: 100;
}

div.tweet-content h3 span {
    font-size: 1.6vh;
    font-family: 'Raleway', sans-serif;
    color: gray;
}

div.tweet-content p {
    font-family: 'Raleway', sans-serif;
}

div.tweet-content img {
    max-height: 30vh;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 100%;
}

div.profile-picture img {
    margin: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}