div.app-wrapper.dark {
  min-height: 100vh;
  display: flex;
  background-color: #15202b;
  color: white;
}

div.app-wrapper {
  min-height: 100vh;
  display: flex;
  color: black;
  background-color: #8eafcf;
}

main.router-content {
  flex: 1;
}

div.space-right {
  flex: 1;
}

nav.side-nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

nav.side-nav ul {
  list-style-type: none;
  margin-right: 20px;
}

nav.side-nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.side-nav ul span[role="img"] {
  font-size: 25px;
}

span.main-emoji {
  font-size: 32px !important;
}